Lesson1/Task1/bin/Debug/net8.0/Task1.dll
Lesson1/Task1/bin/Debug/net8.0/Task1.exe
Lesson1/Task1/bin/Debug/net8.0/Task1.pdb
Lesson1/Task1/obj/Debug/net8.0/apphost.exe
Lesson1/Task1/obj/Debug/net8.0/Task1.AssemblyInfoInputs.cache
Lesson1/Task1/obj/Debug/net8.0/Task1.dll
Lesson1/Task1/obj/Debug/net8.0/Task1.pdb
Lesson1/Task1/obj/Debug/net8.0/Task1.sourcelink.json
Lesson1/Task1/obj/Debug/net8.0/ref/Task1.dll
Lesson1/Task1/obj/Debug/net8.0/refint/Task1.dll
Lesson1/Task2/obj/Debug/net8.0/Task2.AssemblyInfoInputs.cache
Lesson1/Task3/obj/Debug/net8.0/Task3.AssemblyInfoInputs.cache
c#.sln
Lesson1/Task1/obj/Debug/net8.0/Task1.AssemblyInfo.cs
Lesson1/Task1/obj/Debug/net8.0/Task1.AssemblyInfoInputs.cache
Lesson1/Task2/obj/Debug/net8.0/Task2.AssemblyInfo.cs
Lesson1/Task2/obj/Debug/net8.0/Task2.AssemblyInfoInputs.cache
Lesson1/Task3/obj/Debug/net8.0/Task3.AssemblyInfo.cs
Lesson1/Task3/obj/Debug/net8.0/Task3.AssemblyInfoInputs.cache
Lesson2/Lection/Task1/obj/Debug/net8.0/Task1.AssemblyInfo.cs
Lesson2/Lection/Task1/obj/Debug/net8.0/Task1.AssemblyInfoInputs.cache
Lesson2/Lection/Task2/obj/Debug/net8.0/Task2.AssemblyInfo.cs
Lesson2/Lection/Task2/obj/Debug/net8.0/Task2.AssemblyInfoInputs.cache
Lesson2/Lection/Task3/obj/Debug/net8.0/Task3.AssemblyInfo.cs
Lesson2/Lection/Task3/obj/Debug/net8.0/Task3.AssemblyInfoInputs.cache
Lesson2/Lection/Task4/obj/Debug/net8.0/Task4.AssemblyInfo.cs
Lesson2/Lection/Task4/obj/Debug/net8.0/Task4.AssemblyInfoInputs.cache
Lesson2/Seminar/Task1/obj/Debug/net8.0/Task1.AssemblyInfo.cs
Lesson2/Seminar/Task1/obj/Debug/net8.0/Task1.AssemblyInfoInputs.cache
Lesson2/Seminar/Task2/obj/Debug/net8.0/Task2.AssemblyInfo.cs
Lesson2/Seminar/Task2/obj/Debug/net8.0/Task2.AssemblyInfoInputs.cache
Lesson2/Seminar/Task3/obj/Debug/net8.0/Task3.AssemblyInfo.cs
Lesson2/Seminar/Task3/obj/Debug/net8.0/Task3.AssemblyInfoInputs.cache
Lesson2/Seminar/Task4/obj/Debug/net8.0/Task4.AssemblyInfo.cs
Lesson2/Seminar/Task4/obj/Debug/net8.0/Task4.AssemblyInfoInputs.cache
